.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px; 
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}